<!DOCTYPE html>
    <head>
        <title></title>
    </head>
    <body>
        <p>
            firstname: <%= firstname %>
            lastname: <%= lastname %>
            address: <%= address %>
        </p>
    </body>
</html>